<!-- Показывает страницу информации об актере -->

{% extends 'movies/base.html' %}
{% block content %}

<div class="title-cat"><h1>{{ actor.name }}</h1></div>

    <div class="image_detail_movie">
      <img src="{{ actor.photo.url }}" class="card-img-top" alt="Pictures"></a>
    </div>
  
    <div class="plot-text">
      {{ actor.bio }}
    </div>


<!-- Фильмы, в которых снимался -->
<h1 style="text-align:center;">{{ actor.name }} принимал участие в следующих фильмах:</h1>
  <div class="actors">   
    {% for movie in actor.movies.all %}

        <div class="card-movie">
          <a href="{{ movie.get_absolute_url }}"><img src="{{ movie.photo.url }}" class="card-img-top" alt="Pictures"></a>
            <div class="card-body">
              <p>{{ movie.title }}</p>
              <a href="{{ movie.get_absolute_url }}" class="btn btn-primary">Выбрать</a>
            </div>
        </div>

      {% endfor %}
  </div>
<!-- Конец актерского состава -->




{% endblock %}

