<!-- Показывает информацию об одном фильме -->

{% extends 'movies/base.html' %}
{% block content %}

<div class="title-cat"><h1>{{ detail_movie.title }}</h1></div>

    <div class="image_detail_movie">
      <img src="{{ detail_movie.photo.url }}" class="card-img-top" alt="Pictures"></a>
    </div>
  
    <div class="plot-text">
      {{ detail_movie.plot }}
    </div>



<form action="{% url 'like_movie' detail_movie.pk %}" method="POST">
    {% csrf_token %}
      {% if user.is_authenticated %}

          {% if liked %}
              <button type="submit", name="detail_movie_id", value = "{{ detail_movie.id }}", class="btn btn-danger btn-sm">Не нравится</button>
          {% else %}
              <button type="submit", name="detail_movie_id", value = "{{ detail_movie.id }}", class="btn btn-primary btn-sm">Нравится</button>
          {% endif %}
    
      {% else %}
    
        <small><a href="{% url 'login' %}">Войти</a></small>
      {% endif %}
         
   - {{ total_likes }} Likes
</form>




  <!--секция комментариев-->
<hr>
<h3> Комментарии</h3>
{% if not detail_movie.comments.all %}
    Комментариев нет
    <a href="{% url 'add_comment' detail_movie.pk %}">Оставить комментарий</a>
{% else %}
    <a href="{% url 'add_comment' detail_movie.pk %}">Оставить комментарий</a>
<br/><br/>
{% for comment in detail_movie.comments.all %}
        <strong>
           {{ comment.name }} -
           
           {{ comment.author }} at
           {{ comment.date_added }}
        </strong>
        <br/>
        {{ comment.body }}<br/><br/>

        <br/>


        {% endfor %}
{% endif %}
<br/><br/>
<!--конец секции комментариев--> 



   






{% endblock %}