{% extends 'movies/base.html' %}

{% block content %}

<div class="title-cat"><h1>{{ detail_movie.title }}</h1></div>


  <div class="image_detail_movie">
    <img src="{{ detail_movie.photo.url }}" class="card-img-top" alt="Pictures"></a>
  </div>

  <div class="plot-text">
    {{ detail_movie.plot }}
  </div>


  <!--секция комментариев-->
<hr>
<h3> Комментарии</h3>

{% if not post.comments.all %}
    Комментариев нет
    <a href="{% url 'add_comment' movie_slug %}">Оставить комментарий</a>

{% else %}
    <a href="{% url 'add_comment' movie_slug %}">Оставить комментарий</a>
<br/><br/>
{% for comment in post.comments.all %}
        <strong>
           {{ comment.name }} -
           {{ comment.date_added }}
        </strong>
        <br/>
        {{ comment.body }}<br/><br/>
{% endfor %}
        <br/>
        <a href="{% url 'add_comment' movie_slug %}"
        >Оставить комментарий</a>

{% endif %}

<br/><br/>
<!--конец секции комментариев-->



   






{% endblock %}