@import url('https://fonts.googleapis.com/css?family=Ledger&display=swap');



body {
	background: linear-gradient(90deg, rgba(0, 0, 0, 0.36) 0%, #fff 100%);
	margin: auto 0;


}


.name {

}



.navbar {
	background: linear-gradient(90deg, rgba(0, 0, 0, 0.36) 0%, #fff 100%);
	font-size: 1.5em;
	font-weight: 400;
	color: blue;

}


.navbar-brand img {
	width: 55px;
}
