@import url('https://fonts.googleapis.com/css?family=Ledger&display=swap');



body {
	background: linear-gradient(90deg, rgba(0, 0, 0, 0.36) 0%, #fff 100%);
	margin: auto 0;


}



.navbar {
	background: linear-gradient(90deg, rgba(0, 0, 0, 0.36) 0%, #fff 100%);
	font-size: 1.5em;
	font-weight: 400;
	color: blue;

}


.navbar-brand img {
	width: 55px;
}


.left-sidebar {
    background: radial-gradient( #AB9F9F 0%, #C3BCBC 100%);
	font-weight: 400;
	color: black;
	list-style-type: none;
	border: solid;
	border-color: black;
}


.left-sidebar>li {
	border: solid;
	background: radial-gradient( #000000 0%, #C3BCBC 100%);
	border-color: linear-gradient(90deg, #000 0%, #8E8E8E 100%);
	border-width: 15px;
}


.left-sidebar>li>a {
    display: block;
    padding: 1em;
    text-decoration: none;
    color: white;
    font-family: Lobster;
    font-size: 25px;

}