{% extends 'movies/base.html' %}

{% block title %} Редактирование страницы профиля {% endblock %}

{% block content %}


{% if user.is_authenticated %}
    {% if user.id == profile.user.id %}
    <h1>Редактирование страницы профиля</h1>
    <br/><br/><br/>

    <div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-2">
       {% if page_user.profile_pic %} <!-- БЛОК НА ПУСТУЮ КАРТИНКУ ПРОФАЙЛА -->
           <img src="{{ page_user.profile_pic.url }}" class="img-fluid rounded-start">
       {% else %}
           <img src="../../static/images/profile_page.png" alt="profile-image" class="img-fluid rounded-start">
       {% endif %}
    </div>

    <div class="form-group">

<form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-info">Обновить страницу профиля</button>
        </form>
    </div>

    {% else %}
          Вы не корректный пользователь, чтобы редактировать данную страницу...

    {% endif %}
{% else %}
        Нужно авторизоваться
{% endif %}


{% endblock %}