{% extends 'movies/base.html' %}
{% block title %}Редактирование настроек профиля{% endblock %}
{% block content %}

<h1>Редактировать настройки профиля...</h1>
<br/><br/><br/>


{% if user.profile.profile_pic.url %}
    <img src="{{ user.profile.profile_pic.url }}">
{% else %}
    <img src="../../static/images/profile_page.png" alt="logo-image" style="width: 250px;">


{% endif %}

{{ user.profile.bio }}


<br/><br/>  

<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-info">Обновить профиль</button>
    </form>
</div>


{% endblock %}