{% extends 'movies/base.html' %}
{% load static %}

{{ profile.id }}
{% block content %}


<h1>Профиль пользователя</h1>
<br/>
<br/>


<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-2">
       {% if page_user.profile_pic %} <!-- БЛОК НА ПУСТУЮ КАРТИНКУ ПРОФАЙЛА -->
           <img src="{{ page_user.profile_pic.url }}" class="img-fluid rounded-start">
       {% else %}
           <img src="../../static/images/profile_page.png" alt="profile-image" class="img-fluid rounded-start">
       {% endif %}
    </div>



    <div class="col-md-10">
      <div class="card-body">
        <h5 class="card-title">
          <p>Имя пользователя: {{ user.profile.user }}</p> 
          <p>Email: {{ user.profile.email }}</p>
          <p>Имя: {{ user.profile.first_name }}</p>
          <p>Фамилия: {{ user.profile.last_name }}</p>
        
        <p class="card-text">
            <h5>О себе: </h5> {{ user.profile.bio }}
        </p>
      
      </div>
    </div>
  </div>
</div>

{% endblock %}